body {
  background-color: #f8f8f8;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f24 {
  font-size: 24px;
}
.h20 {
  height: 20px;
  line-height: 20px;
}
.h30 {
  height: 30px;
  line-height: 30px;
}
.h40 {
  height: 40px;
  line-height: 40px;
}
.h50 {
  height: 50px;
  line-height: 50px;
}
.m10 {
  margin: 10px;
}
.m20 {
  margin: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p20 {
  padding: 20px;
}
.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;
}
.pt100 {
  padding-top: 100px;
}
.pb0 {
  padding-bottom: 0;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb20 {
  padding-bottom: 20px;
}
.pv5 {
  padding: 5px 0;
}
.pv10 {
  padding: 10px 0;
}
.pv15 {
  padding: 15px 0;
}
.pv20 {
  padding: 20px 0;
}
.pw15 {
  padding: 0 15px;
}
.pw20 {
  padding: 0 20px;
}
.pw50 {
  padding: 0 50px;
}
.flex100 {
  width: 100%;
}
.header-fixed{
  position: fixed;
  top: 0;
  z-index: 500;
  width: 100%;
}
#app .footer-fixed{
  position: fixed;
  bottom: 0;
}
.header-box{
  padding-top: 46px;
}
.footer-box{
  padding-bottom: 53px;
}
.cell-box {
  padding: 10px 15px;
}
.cell-overflow {
  position: relative;
  top: 2px;
  display: block;
  width: 150px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cell-overflow-xl {
  position: relative;
  top: 2px;
  display: block;
  width: 200px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.center {
  text-align: center;
}
.submit-box {
  padding:15px 50px;
}
.table-box{
  padding: 15px;
  font-size: 12px;
}
.table-box table tbody tr td{
  text-align: left;
  padding: 0 10px;
}
.table-box table tbody tr .more-text {
  padding: 10px;
  line-height: 20px;
}
/**优惠券、体验金卡片样式**/
.coupons-card {
  position: relative;
  margin: 0 15px 15px;
  height: 100px;
  padding-top: 0px;
  border-radius: 15px;
  background: url("../images/coupons.png") no-repeat;
  background-size: cover;
  font-size: 12px;
}
.coupons-card-used {
  background: url("../images/couponsUsed.png") no-repeat;
  background-size: cover;
}
.coupons-card-expired {
  background: url("../images/couponsExpired.png") no-repeat;
  background-size: cover;
}
.coupons-card-shadow {
  position: absolute;
  width: 100%;
  height: 150px;
  border-radius: 15px;
  background-color: rgba(51, 51, 51, 0.7);
  z-index: 10;
}
.coupons-card .shadow-box{
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-top: 50px;
  text-align: center;
  color: #fff;
}
.coupons-card .shadow-line{
  display: inline-block;
  border-bottom: 1px solid #f2f2f2;
  width: 30%;
  position: relative;
  top: -5px;
  margin: 0 5px;
}
.coupons-card .card-title {
  padding-left: 60%;
  text-align: center;
  width: 40%;
  height: 20px;
  line-height: 20px;
}
.coupons-card .card-middle {
  height: 40px;
}
.coupons-card .card-bottom {
  height: 40px;
}
.coupons-card .card-left {
  width: 45%;
  height: 40px;
}
.coupons-card .card-right {
  width: 55%;
  height: 40px;
}
.coupons-card .left-title {
  height: 40px;
  line-height: 40px;
  padding-left: 30px;
  font-size: 35px;
  color: #fff;
}
.coupons-card .left-content {
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  color: #fff;
}
.coupons-card .right-title {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  font-size: 14px;
}
.coupons-card .right-content {
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  overflow: hidden;
  color: #808080;
}
.experience-card {
  position: relative;
  margin: 0 15px 15px;
  height: 200px;
  padding: 0 30px;
  border-radius: 15px;
  color: #f9dbdd;
  background: url("../images/experience.png") no-repeat 100%;
  background-size: cover;
  font-size: 12px;
}
.experience-card-expired {
  position: relative;
  margin: 0 15px 15px;
  height: 200px;
  padding: 0 30px;
  border-radius: 15px;
  color: #eee;
  background: url("../images/experienceExpired.png") no-repeat 100%;
  background-size: cover;
  font-size: 12px;
}
.experience-card .card-title {
  text-align: center;
  height: 80px;
  line-height: 80px;
}
.experience-card .card-title .card-left {
  text-align: center;
  font-size: 24px;
}
.experience-card .card-title .card-right {
  text-align: center;
  font-size: 18px;
}
.experience-card .card-middle {
  text-align: center;
  height: 60px;
  line-height: 60px;
}
.experience-card .card-middle .left-title {
  font-size: 35px;
  color: #fff;
}
.experience-card .card-middle .card-right {
  margin: 15px 10px;
  padding: 0 10px;
  border: 1px solid #f9dbdd;
  border-radius: 25px;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
}
.experience-card-expired .card-middle .card-right {
  border: 1px solid #eee;
}
.experience-card .card-bottom {
  height: 60px;
  line-height: 60px;
  font-size: 10px;
}
/**级联选择器样式**/
.cascadeBox {
  padding: 10px 15px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.cascadeBox::before{
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #D9D9D9;
  color: #D9D9D9;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  left: 15px;
}
.mobileSelect .content {
  text-indent: 0em;
}
